.crypto-warpper {
  gap: 2rem;
  .crypto-info {
    flex: 1;
    crypto-symbol {
      background-color: #ccc;
      padding: 3px;
      border-radius: 5px;
    }
    img {
      width: 50px;
    }
  }
  .crypto-rates {
    flex: 4;
    text-align: right;
  }
}
