// Variables

//colors
$clr-primary: hsl(214 82% 51%);
$clr-black: hsl(0 0% 0%);
$clr-white: hsl(0 0% 100%);

//font-sizes
$fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
$fs-800: 3.5rem;
$fs-700: 1.5rem;
$fs-600: 1rem;
$fs-500: 1rem;
$fs-400: 0.9375rem;
$fs-300: 1rem;
$fs-200: 0.875rem;

//font-families
$ff-serif: 'Roboto-Regular', sans-serif;

$scrollbar-thumb-bg: rgba(6, 6, 6, 0.32);
$scrollbar-track-bg: #ddd;
